/.vs/Project1/v17/.futdcache.v2
/.idea/.idea.Project1/.idea/.gitignore
/.idea/.idea.Project1/.idea/encodings.xml
/.vs/ProjectEvaluation/project1.metadata.v7.bin
/.vs/ProjectEvaluation/project1.projects.v7.bin
.idea/.idea.Project1/.idea/efCoreCommonOptions.xml
.idea/.idea.Project1/.idea/efCoreDialogsState.xml
.idea/.idea.Project1/.idea/indexLayout.xml
.idea/.idea.Project1/.idea/vcs.xml
